<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Homepage</title>
</head>
<body class="index-body">
<div class="content">
    <div class="centered-box">
        <h1>Tourist Attractions Assignment</h1>
        <h4>
            This website features a bucket list for nature experiences
        </h4>
        <div class="attractions-links">
            <a th:href="@{/attractions}">See Attractions</a>
        </div>
    </div>
</div>
</body>

    <div th:replace="fragments/footer :: footer"></div>

</html>
